@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:   #85A947;
  --color-secondary: #03373D;
  --color-accent:    #1f83ed;
  --color-neutral:   #606060;
}